.home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 10px;
  margin-top: 30px;
}

.text-muted {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.buttonHome {
  display: flex;
  justify-content: center;
  gap: 30px;
}

ul {
  list-style: none;
}

/* Media queries para diferentes tamaños de pantalla */
@media (min-width: 576px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  margin: 10px;
  margin-top: 30px;
  }
  
}

@media (min-width: 768px) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .home {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .home {
    grid-template-columns: repeat(5, 1fr);
  }
}
